.video-message-wrap {
    margin: 10px 0;
    border: 1px solid #41001b;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-message-wrap .vmw-wrap {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    line-height: 26px;
  }
  
.video-message-wrap .vmw-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .video-message-wrap .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .video-message-wrap .vmw-wrap:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .video-message-wrap .vmw-wrap input:checked ~ .checkmark {
    border-color: green;
  }
  
  .video-message-wrap .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .video-message-wrap .vmw-wrap input:checked ~ .checkmark:after {
    display: block;
  }
  
  .video-message-wrap .vmw-wrap .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.video-message-wrap .after-added-content {
    display: none;
}

.rl-gift-added span.ba-title {
    display: none;
}

.rl-gift-added .after-added-content {
    display: block;
}
.after-added-content p {
    margin: 0;
}

.rl-gift-added .product-price {
    display: none;
}
.rl-content-main {
  width: 100%;
}
.rl-power-wrap {
  text-align: right;
}

.cart-rl.rl-content-wrap .product-price {
  display: flex;
}

.rl-popup-main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  display: none;
}
.rl-popup-main.show {
  display: flex;
}
.rl-popup-main .rl-popup-wrap {
  width: 676px;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: #fff;
  max-width: 100%;
}
.rl-popup-main .rl-icon-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rl-icon-grid.mobile-only {
  display: none;
}
.rl-popup-main .rl-icon-grid .rl-icon-wrap {
    position: relative;
}
.rl-icon-wrap .rl-text {
    position: absolute;
    background: #E8FFFF;
    border-radius: 45.3578px;
    padding: 0 10px;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}
.rl-icon-left .rl-icon-wrap .rl-text {
    left: 67%;
    z-index: 9;
}
.rl-icon-wrap .rl-icon {
    display: flex;
}

.rl-close-popup {
  position: absolute;
  right: 20px;
  display: flex;
}

.rl-close-popup svg {
  width: 30px;
  cursor: pointer;
}

.rl-popup-wrap .rl-popup-header {
  margin-top: 15px;
  display: flex;
  justify-content: left;
}

.rl-popup-wrap .rl-popup-header span {
  margin-left: 3px;
  color: #000;
  font-weight: bold;
}

.rl-popup-wrap .rl-title h2 {
  color: #4F0ACC;
}

.rl-popup-wrap p {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #000;
}

.rl-icon-grid.mobile-only {
  display: none;
}

.rl-popup-wrap .rl-popup-grid {
  display: flex;
  flex-wrap: wrap;
}

.rl-popup-wrap .rl-popup-grid .rl-popup-grid-item.left {
  width: 60%;
  padding: 20px;
}

.rl-popup-wrap .rl-popup-grid .rl-popup-grid-item.right {
  width: 40%;
  background-color: #6d00d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rl-popup-grid button {
  width: 100%;
  height: 40px;
  border: navajowhite;
}

.rl-popup-grid button.rl-addtocart {
  background-color: #4F0ACC;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.rl-popup-grid button.rl-hdtw {
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.rl-popup-hdtw.hdiw-setp {
  background-color: #4F0ACC;
  padding: 40px 0;
  max-height: 500px;
  overflow-y: scroll;
  display: none;
}

.rl-popup-hdtw.hdiw-setp .rl-popup-header {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

.rl-popup-hdtw.hdiw-setp .rl-popup-header span {
  width: 100%;
  color: #fff;
  margin-top: 5px;
  font-size: 25px;
}

.rl-popup-hdtw.hdiw-setp .rl-popup-header svg {
  width: 85px;
  height: 60px;
}

.rl-popup-hdtw.hdiw-setp h3 {
  color: #fff;
  font-size: 28px;
  width: 50%;
  margin: 20px auto;
  line-height: 35px;
  min-width: 300px;
}

.hdiw-content-wrap {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.hdiw-content-wrap .hdiw-gi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hdiw-content-wrap .hdiw-gi .hdiw-icon {
  width: 20%;
}

.hdiw-content-wrap .hdiw-gi .hdiw-content {
  width: 78%;
}

.hdiw-content-wrap .hdiw-gi p.heading {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 22px;
}

.hdiw-content-wrap .hdiw-gi .hdiw-content p.text {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}
.hdiw-footer {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.hdiw-footer button.rl-addtocart {
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  color: #4F0ACC;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.hdiw-footer p.rl-more-question {
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 100%;
}

.hdiw-footer p.rl-more-question a {
  display: block;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}

.hdiw-footer .rl-icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdiw-footer .rl-icon-text span {
  margin-left: 5px;
  color: #ffdd7b;
  font-size: 20px;
}

.hdiw-footer .rl-icon-text svg {
  width: 34px;
}

.hdiw-footer p.rl-copyright-content {
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.hdiw-footer a.privacy-policy {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.rl-back-btn {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  top: 7px;
  cursor: pointer;
  display: none;
}

.rl-back-btn svg {
  transform: rotate(180deg);
  width: 12px;
  height: 8px;
}

.rl-back-btn span {
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
}

.active-hdtw .rl-popup-grid.main-setp {
  display: none;
}

.active-hdtw .rl-popup-hdtw.hdiw-setp {
  display: block;
}

.active-hdtw .rl-back-btn {
  display: flex;
}