{% assign gproduct = all_products['video-message'] %}
{% assign hasThisProductInCart = false %}
{% for line_item in cart.items %}
  {% if line_item.id == gproduct.variants.first.id %}
    {% assign hasThisProductInCart = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% render 'rl-popop' %}
<script>
  const hasPspt = document.querySelector('select#ProductSelect-product-template');
  const hasPnid = document.querySelector('select[name="id"]');
  const hasPinputid = document.querySelector('input[name="id"]');
  const embededHtml = `<div class="rl-content-wrap{% if hasThisProductInCart %} rl-gift-added{% endif %}">
    <div class="video-message-wrap {{hasThisProductInCart}}">
      <label class="vmw-wrap">
        <span class="ba-title">Add a video message</span>
        <div class="after-added-content">
          <span class="aa-title">Added to cart</span>
          <p>
            You'll get an email after payment to record your video message.</p>
        </div>
        {% if hasThisProductInCart %}
          <input
            type="checkbox"
            data-vid="{{ gproduct.variants.first.id }}"
            checked="checked">
        {% else %}
          <input type="checkbox" data-vid="{{ gproduct.variants.first.id }}">
        {% endif %}
        <span class="checkmark"></span>
      </label>
      <div class="product-price">
        <span>{{ gproduct.price | money }}</span>
      </div>
    </div>
  </div>`;
  const hasEnableAppBlock = document.querySelector('.rl-content-main');
  console.log('hasEnableAppBlock ', hasEnableAppBlock);
  if (! hasEnableAppBlock) {
    if (hasPnid) {
      appendRLHtml(hasPspt);
    } else if (hasPnid) {
      appendRLHtml(hasPspt);
    } else if (hasPinputid) {
      appendRLHtml(hasPinputid);
    }
  }

  function appendRLHtml(targetNode) {
    var newel = document.createElement('div')
    newel.classList.add('rl-content-main');
    newel.innerHTML = embededHtml;
    targetNode.parentNode.insertBefore(newel, targetNode.nextSibling);
  }
</script>
{% schema %}
  {
    "name": "Ribbon Reels",
    "target": "body",
    "stylesheet": "ribbon-reals-forntend.css",
    "javascript": "ribbon-reels-forntend.js",
    "settings": []
  }
{% endschema %}