<div class="rl-popup-main">
  <div class="rl-popup-wrap">
    <div class="rl-back-btn">
      <svg
        width="17"
        height="9"
        viewBox="0 0 17 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M12.51 3.5H0.5V5.5H12.51V8.5L16.5 4.5L12.51 0.5V3.5Z" fill="white" />
      </svg>
      <span>Back</span>
    </div>
    <div class="rl-close-popup">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          width="40"
          height="40"
          rx="20"
          fill="#E8FFFF" />
        <path
          d="M26 27L14 15"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
        <path
          d="M26 15L14 27"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <div class="rl-popup-grid main-setp">
      <div class="rl-popup-grid-item left">
        <div class="rl-popup-header">
          <svg
            width="40"
            height="28"
            viewBox="0 0 40 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 0H5.56156C7.03658 0 8.45119 0.585949 9.49418 1.62894C10.5372 2.67194 11.1231 4.08654 11.1231 5.56156H5.56156V16.6847C4.08654 16.6847 2.67194 16.0987 1.62894 15.0557C0.585949 14.0128 0 12.5981 0 11.1231V0ZM5.56156 16.6847C7.03658 16.6847 8.45119 17.2706 9.49418 18.3136C10.5372 19.3566 11.1231 20.7712 11.1231 22.2463V27.8078H5.56156V16.6847ZM16.6847 16.6847C15.2097 16.6847 13.7951 16.0987 12.7521 15.0557C11.7091 14.0128 11.1231 12.5981 11.1231 11.1231V5.56156C12.5981 5.56156 14.0128 6.14751 15.0557 7.19051C16.0987 8.2335 16.6847 9.64811 16.6847 11.1231V16.6847ZM16.6847 16.6847C18.1597 16.6847 19.5743 17.2706 20.6173 18.3136C21.6603 19.3566 22.2463 20.7712 22.2463 22.2463V27.8078H16.6847V16.6847ZM33.9873 22.2463H28.4258V16.6847C28.4258 15.2097 27.8398 13.7951 26.7968 12.7521C25.7538 11.7091 24.3392 11.1231 22.8642 11.1231V0H17.3026V5.56156C17.3026 7.03658 17.8886 8.45119 18.9316 9.49418C19.9746 10.5372 21.3892 11.1231 22.8642 11.1231V16.6847C22.8642 18.1597 23.4502 19.5743 24.4932 20.6173C25.5361 21.6603 26.9508 22.2463 28.4258 22.2463C28.4258 23.7213 29.0117 25.1359 30.0547 26.1789C31.0977 27.2219 32.5123 27.8078 33.9873 27.8078H39.5489V16.6847C39.5489 15.2097 38.9629 13.7951 37.92 12.7521C36.877 11.7091 35.4624 11.1231 33.9873 11.1231V0H28.4258V5.56156C28.4258 7.03658 29.0117 8.45119 30.0547 9.49418C31.0977 10.5372 32.5123 11.1231 33.9873 11.1231V22.2463Z"
              fill="#FFD682" />
          </svg>
          <span>rebbonreel</span>
        </div>
        <div class="rl-title">
          <h2>Wrap your present with your presence!</h2>
        </div>
        <div class="rl-icon-grid mobile-only">
          <div class="rl-icon-left">
            <div class="rl-icon-wrap record">
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
              <div class="rl-text">Record</div>
            </div>
          </div>
          <div class="rl-icon-right">
            <div class="rl-icon-wrap buy">
              <div class="rl-text">Buy</div>
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
            </div>
            <div class="rl-icon-wrap gift!">
              <div class="rl-text">Gift!</div>
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <p>Record a video message and make gift opening fun, exciting and unexpected.</p>
        <button type="button" class="rl-addtocart">Add to Cart | $2.99</button>
        <button type="button" class="rl-hdtw">How does it work?</button>
      </div>
      <div class="rl-popup-grid-item right">
        <div class="rl-icon-grid desktop-only">
          <div class="rl-icon-left">
            <div class="rl-icon-wrap record">
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
              <div class="rl-text">Record</div>
            </div>
          </div>
          <div class="rl-icon-right">
            <div class="rl-icon-wrap buy">
              <div class="rl-text">Buy</div>
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
            </div>
            <div class="rl-icon-wrap gift!">
              <div class="rl-text">Gift!</div>
              <div class="rl-icon">
                <svg
                  width="100"
                  height="100"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50.3894"
                    cy="50.2424"
                    r="49.6101"
                    fill="#B6FFA0" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rl-popup-hdtw hdiw-setp">
      <div class="rl-popup-header">
        <svg
          width="40"
          height="28"
          viewBox="0 0 40 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 0H5.56156C7.03658 0 8.45119 0.585949 9.49418 1.62894C10.5372 2.67194 11.1231 4.08654 11.1231 5.56156H5.56156V16.6847C4.08654 16.6847 2.67194 16.0987 1.62894 15.0557C0.585949 14.0128 0 12.5981 0 11.1231V0ZM5.56156 16.6847C7.03658 16.6847 8.45119 17.2706 9.49418 18.3136C10.5372 19.3566 11.1231 20.7712 11.1231 22.2463V27.8078H5.56156V16.6847ZM16.6847 16.6847C15.2097 16.6847 13.7951 16.0987 12.7521 15.0557C11.7091 14.0128 11.1231 12.5981 11.1231 11.1231V5.56156C12.5981 5.56156 14.0128 6.14751 15.0557 7.19051C16.0987 8.2335 16.6847 9.64811 16.6847 11.1231V16.6847ZM16.6847 16.6847C18.1597 16.6847 19.5743 17.2706 20.6173 18.3136C21.6603 19.3566 22.2463 20.7712 22.2463 22.2463V27.8078H16.6847V16.6847ZM33.9873 22.2463H28.4258V16.6847C28.4258 15.2097 27.8398 13.7951 26.7968 12.7521C25.7538 11.7091 24.3392 11.1231 22.8642 11.1231V0H17.3026V5.56156C17.3026 7.03658 17.8886 8.45119 18.9316 9.49418C19.9746 10.5372 21.3892 11.1231 22.8642 11.1231V16.6847C22.8642 18.1597 23.4502 19.5743 24.4932 20.6173C25.5361 21.6603 26.9508 22.2463 28.4258 22.2463C28.4258 23.7213 29.0117 25.1359 30.0547 26.1789C31.0977 27.2219 32.5123 27.8078 33.9873 27.8078H39.5489V16.6847C39.5489 15.2097 38.9629 13.7951 37.92 12.7521C36.877 11.7091 35.4624 11.1231 33.9873 11.1231V0H28.4258V5.56156C28.4258 7.03658 29.0117 8.45119 30.0547 9.49418C31.0977 10.5372 32.5123 11.1231 33.9873 11.1231V22.2463Z"
            fill="#FFD682" />
        </svg>
        <span>rebbonreel</span>
      </div>
      <h3>How gifting with RibbonReel Work?</h3>
      <div class="hdiw-content-wrap">
        <div class="hdiw-gi">
          <div class="hdiw-icon">
            <svg
              width="100"
              height="100"
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="50.3894"
                cy="50.2424"
                r="49.6101"
                fill="#B6FFA0" />
            </svg>
          </div>
          <div class="hdiw-content">
            <p class="heading">First, you
              <strong>buy a gift</strong>
              from one of our gift partners</p>
            <p class="text">If you are reading this, you've found a gift from a RibbonReel gift partner store.</p>
          </div>
        </div>
        <div class="hdiw-gi">
          <div class="hdiw-icon">
            <svg
              width="100"
              height="100"
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="50.3894"
                cy="50.2424"
                r="49.6101"
                fill="#B6FFA0" />
            </svg>
          </div>
          <div class="hdiw-content">
            <p class="heading">After buy the gift, you will
              <strong>record your video message.</strong>
            </p>
            <p class="text">Don't worry, if you can't record your video at that moment, we will email you reminders to record your message before the gift delivers.</p>
          </div>
        </div>
        <div class="hdiw-gi">
          <div class="hdiw-icon">
            <svg
              width="100"
              height="100"
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="50.3894"
                cy="50.2424"
                r="49.6101"
                fill="#B6FFA0" />
            </svg>
          </div>
          <div class="hdiw-content">
            <p class="heading">
              <strong>That it!</strong>
              We will send the video message once the gift delivers</p>
            <p class="text">You will choose between a phone number or email address to deliver the video message. The video can only be watch once the gift arrives!</p>
          </div>
        </div>
      </div>
      <div class="hdiw-footer">
        <button type="button" class="rl-addtocart">Add to Cart | $2.99</button>
        <p class="rl-more-question">More questions?
          <a href="">Visit our FAQ
            <svg
              width="17"
              height="9"
              viewBox="0 0 17 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M12.51 3.5H0.5V5.5H12.51V8.5L16.5 4.5L12.51 0.5V3.5Z" fill="white" />
            </svg>
          </a>
        </p>
        <div class="rl-icon-text">
          <svg
            width="40"
            height="28"
            viewBox="0 0 40 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 0H5.56156C7.03658 0 8.45119 0.585949 9.49418 1.62894C10.5372 2.67194 11.1231 4.08654 11.1231 5.56156H5.56156V16.6847C4.08654 16.6847 2.67194 16.0987 1.62894 15.0557C0.585949 14.0128 0 12.5981 0 11.1231V0ZM5.56156 16.6847C7.03658 16.6847 8.45119 17.2706 9.49418 18.3136C10.5372 19.3566 11.1231 20.7712 11.1231 22.2463V27.8078H5.56156V16.6847ZM16.6847 16.6847C15.2097 16.6847 13.7951 16.0987 12.7521 15.0557C11.7091 14.0128 11.1231 12.5981 11.1231 11.1231V5.56156C12.5981 5.56156 14.0128 6.14751 15.0557 7.19051C16.0987 8.2335 16.6847 9.64811 16.6847 11.1231V16.6847ZM16.6847 16.6847C18.1597 16.6847 19.5743 17.2706 20.6173 18.3136C21.6603 19.3566 22.2463 20.7712 22.2463 22.2463V27.8078H16.6847V16.6847ZM33.9873 22.2463H28.4258V16.6847C28.4258 15.2097 27.8398 13.7951 26.7968 12.7521C25.7538 11.7091 24.3392 11.1231 22.8642 11.1231V0H17.3026V5.56156C17.3026 7.03658 17.8886 8.45119 18.9316 9.49418C19.9746 10.5372 21.3892 11.1231 22.8642 11.1231V16.6847C22.8642 18.1597 23.4502 19.5743 24.4932 20.6173C25.5361 21.6603 26.9508 22.2463 28.4258 22.2463C28.4258 23.7213 29.0117 25.1359 30.0547 26.1789C31.0977 27.2219 32.5123 27.8078 33.9873 27.8078H39.5489V16.6847C39.5489 15.2097 38.9629 13.7951 37.92 12.7521C36.877 11.7091 35.4624 11.1231 33.9873 11.1231V0H28.4258V5.56156C28.4258 7.03658 29.0117 8.45119 30.0547 9.49418C31.0977 10.5372 32.5123 11.1231 33.9873 11.1231V22.2463Z"
              fill="#FFD682" />
          </svg>
          <span>rebbonreel</span>
        </div>
        <p class="rl-copyright-content">© 2022 RibbonReel. All rights reserved.</p>
        <a class="privacy-policy" href="/">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>